#section-erro-404{
    width: 100%;
    height: 100%;
}
#box-erro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color:red; */
}
#img-erro{
    margin-top: 50px;

    width: 500px;
    height: 500px;
    background-image: url("/blog/midia/imagens/erro-404.png");
    background-size: cover;
    background-repeat: no-repeat;
}